.FooterContainer{
    max-width: 1200px;
  margin: 0 auto;
  background-color: #01d566;
  display: flex;
  color: white;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
}