.MainContainer {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}
.MainSection {
  margin: 0;
}
.RightBox {
  margin-right: 30px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.List {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.LeftBox {
  padding-top: 200px;
  margin-left: 20px;
  max-width: 450px;
  max-height: 650px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.Title {
  font-weight: 400;
  font-size: 70px;
  line-height: 95%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.Description {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.Image {
  width: 240px;
  height: 407px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #c4c4c4;
  border-radius: 37px;
}
