.Nav {
  max-width: 1200px;
  margin: 100px auto;
  /* padding: 0px 100px; */
}
.NavList {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.NavListItem {
  background-color: aqua;
  text-decoration: none;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
