.Nav {
  /* width: 100vw; */
  height: 87px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.Logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}
.Logo:hover {
  color:#01d566;
}
.NavList {
  display: flex;
  gap: 25px;
}
.NavListItem {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.NavListItem:hover {
  color: #01d566;
}
