.Nav {
  max-width: 1200px; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #01d566;
}
.NavList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 60px;
  background-color: #fff;
  gap: 50px;
  border-radius: 10px;
  text-align: center;
}
.NavListItem {
  background-color: white;
  color: #000;
  padding-top: 5px;
  text-decoration: none;
  height: 30px;
  width: 100px;
  border: 1px solid;
  border-radius: 10px;
}
.NavListItem:hover {
  
  background-color: #fff;

}
